[2021-01-16 11:18] akrish4 opened #5 "Integrate Welcome and Greeting Bot"
Hi @MightyPhoenix @snehashis365

I would like to contribute to this amazing project
I can add a config file and integrate the bot so that whenever a new user opens a issue or pr , the bot will comment and greet the user with a proper message

Let me know if you are interested

Kindly do assign me
Kindly do add the DWOC and Level label

[2021-01-16 12:27] samir-0711 opened #6 "Add Contributors Table in README.md"
Like this
![image](https://user-images.githubusercontent.com/68433936/104811821-3b2ffe00-5824-11eb-8dec-db1d9f61bcdf.png)

[2021-01-16 12:27] samir-0711 commented on #6
I would like to work on this.

[2021-01-16 20:33] avinashkranjan opened #7 "Welcome to DevScript Winter of Code '2021"
## Hello, Everyone <img src="https://raw.githubusercontent.com/ABSphreak/ABSphreak/master/gifs/Hi.gif" width="25px">
Thanks for showing your interest in being a part of the [DevScript Winter of Code '2021](https://devscript.tech/woc) 🎆

We are super delighted to have you on board for your Contributions on [Pentesting-and-Hacking-Scripts](https://github.com/dscciem/Pentesting-and-Hacking-Scripts) 🙌

[2021-01-17 06:24] #5 closed, assigned to nobody

[2021-01-17 06:25] avinashkranjan commented on #6
This project is completely new, so it does not any contributions so, I don't think it's needed now.

[2021-01-17 06:25] #6 closed, assigned to nobody

[2021-01-18 07:48] Ayush7614 opened #8 "Audio_Converter"
# Aim

Audio_Converter

# Details

This Automation Script is used to convert any type of video file into an audio file. It supports the various audio and video formats for the conversion.

[2021-01-19 16:01] avinashkranjan commented on #7
Maybe we should consider using some static generator like [Hugo](https://gohugo.io)? The building process could be automated with GH Actions and the website could be hosted on GH Pages. I believe the only piece of effort would be writing a python/bash script that takes project names and copies README files from each project. What are your thoughts on this?

[2021-01-21 08:44] avinashkranjan opened #9 "Building a Basic Port Scanner using NMAP in Python"
# Aim

- Add Functions Like -

1. Specific Port Search
2. Specific Range Port Search
3. Convert Data stored in dic into JSON and Save it in a text file

[2021-01-21 08:44] #8 closed, assigned to nobody

[2021-01-21 08:46] avinashkranjan opened #10 "Discovering Subdomains with Python"
# Aim

- Python Script to List all the subdomains of a website and stored it in a CSV file.

[2021-01-21 08:50] avinashkranjan opened #11 "Cracking Hashes with Python and Hashlib"
# Aim

- Python Script to Crack Hashes
- The Script Should At Least Crack Passwords in MD5 and SHA.
- You can add more Crack for more Algorithm.

[2021-01-21 08:54] avinashkranjan opened #12 "Script to get Geo location and other Info from an IP address"
# Aim

- Python Script to get Geo Location and other information just by feeding an IP address.
- Since Geo Location would be in Longitude and Latitude. Find the Nearest Area and Giv the name of the Location

[2021-01-21 08:55] avinashkranjan opened #13 "Spoofing your MAC Address with Python"
# Aim

- Python Script to Spoof you MAC Address

[2021-01-22 16:46] Amit366 commented on #12
Sir can I work on this?

[2021-01-23 06:46] nitya123-github opened #16 "Sql injection"
sql injection attack

[2021-01-23 09:13] avinashkranjan commented on #16
Hello @nitya123-github Kindly, Make the Issue more Descriptive, Follow the Issue Template..

[2021-01-23 09:21] #9 closed, assigned to virajmane

[2021-01-24 08:21] #12 closed, assigned to Amit366

[2021-01-25 06:36] Amit366 opened #21 "Phone number Tracker using python"
# Aim

- By entering the phone number we can get the country name and also the service provider.

[2021-01-25 18:57] #21 closed, assigned to Amit366

[2021-01-25 19:01] Amit366 commented on #21
@avinashkranjan sir yesterday's merged PR was not updated in the leaderboard.

[2021-01-26 17:18] Swastik1710 opened #24 "Contributors Table"
Making the Contributors Table up to date.

[2021-01-26 17:34] #24 closed, assigned to nobody

[2021-01-26 17:36] avinashkranjan commented on #24
One of them is all-contributors bot..

[2021-01-28 03:10] infiniteoverflow opened #27 "Domino Effect"
# Aim

- A script to extract password hashes from insecure Lotus Domino names.nsf databases.

# Details

- Databases under this system do not correctly inherit ACLs, plus some default database ACLs are set to allow unrestricted access to all web users. Thus users can can manipulate the files remotely. Hence, we use this code to detect those vulnerabilities.

[2021-01-28 08:43] OBITORASU opened #28 "Script to bust website subdirectories using a wordlist."
# Aim

- A script which finds valid subdirectories of a website using a dictionary attack. The script takes a valid website and a wordlist as parameters and probes the website with all possible subdirectories mentioned in the wordlist to find out which ones are valid for the given website. Additionally, you can add the feature of file extensions for the script to find non-indexed files like `admin

[2021-01-31 12:03] #11 closed, assigned to Pranjal-2001

[2021-01-31 12:05] #10 closed, assigned to Ayush7614

[2021-01-31 12:07] avinashkranjan commented on #27
Go Ahead @infiniteoverflow

[2021-01-31 12:10] avinashkranjan commented on #28
We already have a script for that Do you have any suggestion if someone wants to contribute. Check the existing script [here](https://github.com/dscciem/Pentesting-and-Hacking-Scripts/tree/master/Discovering%20Subdomains).

[2021-01-31 12:13] OBITORASU commented on #28
Noted I will try to recommend something else which might come in handy. Closing this now.

[2021-01-31 14:14] OBITORASU commented on #28
Sorry couldn't check the repo properly I was out with my mobile. I think there is some confusion, that's a subdomain script you mentioned. I was talking about sub-directories instead, something like gobuster or dirb to be exact. I re-checked the repo there is no directory busting script yet so I guess someone might like to contribute. Please share your opinions @avinashkranjan  waiting to hear bac

[2021-02-01 12:55] Ayush7614 opened #33 "stock_market_data"
**Aim**
Stock market data

**Description**
Get the data of your favorite stock with this script.
This Script will give you the data about your favourite stock.

It will ask for various inputs such as freq, start date, end date, stock name.

[2021-02-01 12:55] Ayush7614 commented on #33
@avinashkranjan sir plss review it and assign me under DWOC

[2021-02-02 08:43] avinashkranjan commented on #28
Okay..Then If anyone is interested he/she can work on it.

[2021-02-02 08:43] avinashkranjan commented on #33
Go ahead @Ayush7614

[2021-02-02 08:45] #27 closed, assigned to infiniteoverflow

[2021-02-02 10:44] infiniteoverflow opened #35 "TargetLib"
# Aim
I would like to add targetlib library

# Details

Targetlib is a Library for generating network ranges, random ips and randomizing iplists.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-02-03 10:20] avinashkranjan commented on #35
Sure go ahead.. @infiniteoverflow

[2021-02-04 17:19] #35 closed, assigned to infiniteoverflow

[2021-02-04 17:21] avinashkranjan commented on #13
Yes @himanshu007-creator .. Sorry for the delay

[2021-02-04 17:21] avinashkranjan commented on #16
Any Updates @nitya123-github

[2021-02-04 17:32] himanshu007-creator commented on #13
I will send tomorrow 👍🏽

[2021-02-06 03:35] infiniteoverflow opened #39 "Whois"
# Aim
This script will retrieve and parse Whois (technically RDAP) information for IP addresses.

# Details
The script has the ability to quickly perform reverse DNS lookups for any given domain name(s). This script was created primarily to facilitate recursive Whois queries.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-02-06 08:43] avinashkranjan commented on #39
Go Ahead @infiniteoverflow

[2021-02-06 19:34] #13 closed, assigned to himanshu007-creator

[2021-02-07 16:11] #39 closed, assigned to infiniteoverflow

[2021-02-08 13:04] infiniteoverflow opened #43 "EasyScope"
# Aim
Addition of EasyScope script.

# Details
This script will take an IP address range or a list of addresses/ranges and either expand them into single IPs or combine them into a supernet. Very useful for those abnormal scopes.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-02-11 04:37] nitya123-github commented on #16
yes done can you please check my pull request?

[2021-02-11 16:40] PinRathod opened #45 "Add DWoC as open source Event"
This project is part of DWoC open source event.It should be mention in README file.

[2021-02-11 16:40] PinRathod commented on #45
Can I work on this?

[2021-02-11 17:13] avinashkranjan commented on #43
Sure Go Ahead @infiniteoverflow

[2021-02-11 17:15] avinashkranjan commented on #45
No, We don't need that..

[2021-02-11 17:15] #45 closed, assigned to nobody

[2021-02-13 09:24] #43 closed, assigned to infiniteoverflow

[2021-02-17 14:47] infiniteoverflow opened #47 "GraphQLmap"
# Aim
GraphQLmap is a scripting engine to interact with a graphql endpoint for pentesting purposes.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-02-17 19:58] avinashkranjan commented on #47
Sure Go Ahead @infiniteoverflow

[2021-02-18 05:15] Amit366 opened #49 "Check whether a website is vulnerable or not"
# Aim

When the user inputs a website url then the script will display whether the site is vulnerable or not and also displays the html script

# Do I want to work on this:
  Yes

[2021-02-18 06:22] infiniteoverflow opened #51 "SniffAir"
# Details
SniffAir is an open-source wireless security framework which provides the ability to easily parse passively collected wireless data as well as launch sophisticated wireless attacks.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-02-18 07:55] Vrushti24 opened #52 "Logo"
**Is your feature request related to a problem? Please describe.**
We can add logo to your project to make it look more attractive

**Describe the solution you'd like**
I can make this using illustrator

**Do I want to work on this:**
 - [x]  Yes

[2021-02-18 09:08] Sloth-Panda opened #53 "DDoS attack"
# Aim

- What is the objective of the Script
This scripts main motive is to make an online service unavailable by overwhelming its servers
# Details

- What the features will your script have
The script will be having the capability to overwhelm the site which it want to attack on by introducing it to multiple resources

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-02-18 09:09] Sloth-Panda commented on #53
@avinashkranjan , would like to work on this as part of DWoC

[2021-02-18 09:20] avinashkranjan commented on #52
Sure Go Ahead @Vrushti24

[2021-02-18 09:21] avinashkranjan commented on #51
Assigned to you.. @infiniteoverflow

[2021-02-18 09:21] avinashkranjan commented on #49
Assigned to you @Amit366

[2021-02-18 09:22] avinashkranjan commented on #53
Go Ahead @Sloth-Panda

[2021-02-18 09:23] Vrushti24 commented on #52
Do u want any specifications ?? @avinashkranjan

[2021-02-18 09:24] #16 closed, assigned to nitya123-github

[2021-02-18 09:27] avinashkranjan commented on #52
Create an Rough Sketch. I'll ask for the changes accordingly.

[2021-02-18 09:30] Vrushti24 commented on #52
Sure, will do that.

On Thu, Feb 18, 2021, 2:57 PM Avinash Kr. Ranjan <notifications@github.com>
wrote:

[2021-02-18 12:30] Vrushti24 commented on #52
![16136513956246287492928081988981](https://user-images.githubusercontent.com/71961160/108357220-25db3480-7213-11eb-82ef-656d3ce38e5f.jpg)
Hey I have tried this black and white I thought this would be nice any changes according to u
.Do u want any background colour??@avinashkranjan

[2021-02-18 12:31] infiniteoverflow commented on #51
thanks @avinashkranjan . I have a PR in queue, can you please review it.

[2021-02-20 15:25] Sloth-Panda commented on #53
@avinashkranjan  can you please review it

[2021-02-20 16:33] #53 closed, assigned to Sloth-Panda

[2021-02-20 20:19] #47 closed, assigned to infiniteoverflow

[2021-02-21 05:10] infiniteoverflow opened #58 "NightCall"
# Details

Automated enumeration script built to reduce repetitive tasks during large black-box network pentests. Initial host discovery performed by basic throttled masscan, followed by service enumeration of each host, full port if host count less than a preconfigured constant, top port count otherwise. Nmap outputs are then parsed and common tooling queued up for follow up enumeration based on

[2021-02-21 14:34] #49 closed, assigned to Amit366

[2021-02-21 14:38] avinashkranjan commented on #58
Go Ahead

[2021-02-24 06:15] Vrushti24 commented on #52
@avinashkranjan any updates??

[2021-02-24 10:40] avinashkranjan commented on #52
Add some Scripts and Hacking and mix them to make a logo...This does not make much resemblance.

[2021-02-24 10:42] avinashkranjan commented on #52
Add some Scripts and Hacking logo and mix them to make a logo...This does not make much resemblance.

[2021-02-24 10:45] Vrushti24 commented on #52
Okayy...I will check that👍

On Wed, Feb 24, 2021, 4:12 PM Avinash Kr. Ranjan <notifications@github.com>
wrote:

[2021-02-24 21:15] #51 closed, assigned to infiniteoverflow

[2021-02-25 15:36] #58 closed, assigned to infiniteoverflow

[2021-03-01 06:03] chehak123 commented on #52
Hi, i want to contribute as a participant of gssoc'21

[2021-03-02 09:41] vismitap commented on #52
May I work on this as a part of GSSoC'21?

[2021-03-04 19:44] avinashkranjan commented on #52
Sure Go Ahead @chehak123  @vismitap I'd choose the most appropriate and appealing from your designs..Assigned to you

[2021-03-04 19:48] vismitap commented on #52
The coding period starts from 8th march right? I will raise a PR on 8th as per new rules ✌.

[2021-03-05 21:45] Ayush7614 opened #62 "Encrypt_Text"
# Aim

- Encrypt_Text

# Details

- This is a Python Script which can hash a string using a multitude of Hashing Algorithms like SHA256, MD5, SHA512 and more.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-03-05 21:46] Ayush7614 commented on #62
@avinashkranjan sir plss assign me this issue under gssoc

[2021-03-06 19:42] Ayush7614 commented on #62
@avinashkranjan plss assign me under gssoc

[2021-03-06 20:21] avinashkranjan commented on #62
Assigned to you.. @Ayush7614

[2021-03-09 02:32] Ayush7614 commented on #62
@avinashkranjan plss label this issue as a part of GSSOC 21

[2021-03-09 03:43] nidh-ish opened #63 "Advanced keylogger"
# Aim

I want to implement an advanced key-logger.

# Details

It will have lots of functionalities, like send the log files, send screenshots, information about the machine(IP address, OS, etc), and delete all the files created and even the script after the specified amount of time.

# Do I want to work on this:
 - Yes

I would like to work on it as a part of GSSOC'21.
Can you please assign the w

[2021-03-09 16:59] #7 closed, assigned to nobody

[2021-03-09 17:00] avinashkranjan commented on #63
Hey @nidh-ish We already have a keylogger to log the keys and mail them add these features to the existing script..Assigning it to you

[2021-03-09 19:56] nidh-ish commented on #63
Thank you for assigning it to me. I will add the additional features.

[2021-03-10 06:45] rakesh0x7 opened #64 "like to update readme.md"
some of the links in the readme. md is not redirecting to scripts. They are not updated with the new links to scripts.
As a participant of Gssoc21, I would like to update all the script links in the readme. md

[2021-03-10 10:47] Bhavye-Malhotra opened #65 "Hash-Cracking Advancement"
# Aim
Adding a new feature in the Hash Cracking script.

# Details

- What features will your script have
Making a Script to check hash type.

# Do I want to work on this:
 -  Yes
I would like to work on it as a part of GSSOC'21.

[2021-03-10 13:43] c0sm0void opened #67 "Making the whole script menu-driven with bash shell / Python as well!"
**Is your feature request related to a problem? Please describe.**
Changing directories for different testing and looking for scripts which to use one by one will be quite a headache.

**Describe the solution you'd like**
Making it a menu-driven script, where a hacker can select the option and the specific script will run (can take arguments too if needed at runtime) in sort like Lazy Script if yo

[2021-03-10 15:33] avinashkranjan commented on #64
Can you elaborate the details with images of links which are broken @deephunt3r

[2021-03-10 15:34] avinashkranjan commented on #65
We already have an script for that [Here](https://github.com/dscciem/Pentesting-and-Hacking-Scripts/tree/master/Hash-Cracker) What Improvements are you suggesting to that kindly elaborate that.

[2021-03-10 15:35] rakesh0x7 commented on #64
The script's links are broken. It's the same issue which I have mentioned in another project https://github.com/avinashkranjan/Amazing-Python-Scripts/issues/455

[2021-03-10 15:35] avinashkranjan commented on #67
Hey @c0sm0void That's sounds like a great idea,
If anyone is up for it..Kindly comment and it'll be assigned to you

[2021-03-10 15:36] avinashkranjan commented on #64
Go Ahead Then @deephunt3r

[2021-03-10 15:37] avinashkranjan commented on #64
I was looking for the broken links as they were working for me.

[2021-03-10 15:42] rakesh0x7 commented on #64
![git](https://user-images.githubusercontent.com/60481830/110655713-4d576880-81e5-11eb-851f-267b128cc6e2.png)

[2021-03-10 15:44] rakesh0x7 commented on #64
@avinashkranjan can I work on this ?
if yes
     please assign

[2021-03-10 15:48] avinashkranjan commented on #64
Assigned @deephunt3r

[2021-03-10 15:50] rakesh0x7 commented on #64
Thanks @avinashkranjan and I would like to create IP tracer tool script can I make issue?

[2021-03-10 15:50] avinashkranjan commented on #64
Yes You Can

[2021-03-10 15:54] rakesh0x7 opened #68 "IP info"
# Aim

- The script find's the details of the given IP address

# Details

- What the features will your script have
- It provide the various details like
      -  country
      -  state

# Do I want to work on this:
 - [X]  Yes
 - [ ] No

[2021-03-10 15:55] #68 closed, assigned to nobody

[2021-03-11 14:27] avinashkranjan commented on #65
Go Ahead Then @Bhavye-Malhotra

[2021-03-11 20:54] L3thal14 commented on #33
@avinashkranjan can you assign this to me under GSSOC21?

[2021-03-12 03:50] vermatanu commented on #52
I'd like to contribute to this. Could this be assigned to me?

[2021-03-12 05:34] c0sm0void commented on #67
Let me brief you about what you have to do on that issue:
1. have to make a menu-driven script which will perform the task as per option
2. there are 18 tools currently so we need to provide all
3. give all the folder 777 permission for the execution of python files
4. creativity is your choice
5. do provide comments while doing scripting
be aware of file path as per linux system
ie. /root/your_fi

[2021-03-12 08:34] rakesh0x7 commented on #64
@rk05-lenavo this issue already assigned to me and I created pr

[2021-03-12 09:53] c0sm0void opened #71 "Wiki Documentation!"
Create a wiki page for this project describing:

- what this project is?
- purpose
- short and precise description of all tools currently used in the project along with features

you can check the guide material:

- [writing and formatting on GitHub](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github)
- [Wiki page](https://guides.github.com/fe

[2021-03-12 10:39] c0sm0void commented on #71
Sure @rohank2502 Go ahead!

[2021-03-12 10:52] c0sm0void commented on #71
@sonal251001 @rohank2502
good luck!

[2021-03-12 11:12] c0sm0void commented on #71
@sonal251001 @rohank2502 please wait for the admin to look into it...till then you both do your task individually.

[2021-03-12 11:20] rohan-kulkarni-25 opened #72 "Will like to add the contribution section which goes on updating automatically"
I will like to add the feature which will update the contribution section of read me automatically !! Will work on this issue after getting assigned

[2021-03-12 15:42] c0sm0void commented on #71
@avinashkranjan check this once

[2021-03-12 16:08] rohan-kulkarni-25 commented on #71
I think its better if we collaborate and we will make separate PR so it
will be easy for you to merge it and although in open source there is
collaboration first code second !!!
@sonal251001 agree I am ready

On Fri, Mar 12, 2021 at 9:31 PM Avinash Kr. Ranjan ***@***.***>
wrote:

[2021-03-12 16:15] avinashkranjan commented on #71
Great Then..Looking Forward to your PRs
Happy Coding..👩🏻‍💻

[2021-03-13 07:51] nidh-ish opened #75 "Python3 compatibility issues with easyscope.py"
**Is your feature request related to a problem? Please describe.**

In easyscope, the program throws errors while run with python3. The program is coded for python2.

**Describe the solution you'd like**

As python2 is no longer supported, I would like to make the necessary changes in the code to make it compatible with python3.

**Describe alternatives you've considered**

To change the required

[2021-03-13 13:48] chinmoy12c commented on #28
Hey @avinashkranjan , can you please assign this issue to me :)

[2021-03-14 07:58] c0sm0void commented on #28
@chinmoy12c @dsg1320 go ahead! You can discuss with each other if you want to about the contribution part.

[2021-03-14 17:24] Simar05519 commented on #62
I want to work on this issue. Please assign to me

[2021-03-14 22:08] nidh-ish opened #78 "Correction in the DDoS attack repo"
**Describe the bug**

According to my understanding, the script provided is for the DoS(Denial of Service) attack and not a DDoS attack. There are a few mistakes in the README.md as well, such as the traffic is sent to the port number and not from the port number. Also, there a few spelling mistakes in the python file. I would like to correct these mistakes by providing a clear and concise definit

[2021-03-16 04:47] 0xGhazy opened #79 "adding HTTP & TCP reversed shell using python"
# Aim

- I offer to develop a server-client model that acts as a trojan horse, Depends on HTTP and TCP protocols using Python, and maybe C++. Develop it for purely educational purposes. I will work on it with my friends who are accepted into your GSSOC 2021 Program.

# Details
The client script (reversed shell/trojan) will contain some functions that can be executed on his device and then send the

[2021-03-16 10:34] aaadddiii opened #80 "script to email network passwords stored in another computer"
# Aim

- To retrieve  network  passwords stored in a computer

# Details

- This python script emails the network passwords stored in the victims computer

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-03-16 16:16] #64 closed, assigned to rakesh0x7

[2021-03-16 16:23] #75 closed, assigned to nidh-ish

[2021-03-16 16:25] #72 closed, assigned to rohan-kulkarni-25

[2021-03-16 21:02] nidh-ish opened #86 "Implementing NMap using python3"
# Aim

Nmap is a complicated piece of software used to discover hosts and services on a computer network. The aim of this script will be to use the python-nmap library to make the use of Nmap simple.

# Details

- What features will your script have

This script will be able to perform various kinds of Nmap scans according to the user's demand.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-03-17 10:54] Bhavye-Malhotra opened #88 "403 Bypasser tool in python"
# Aim

- The aim of the script is to bypass the 403 response code and give out the response code for each retry in colored output to be easy to read.

# Details

- use multiple request methods ( GET - POST- HEAD... etc)
- use multiple payloads at the end of the URL
- add headers to the request

# Do I want to work on this:
 - [x]  Yes

[2021-03-17 11:09] c0sm0void commented on #86
@nidh-ish good luck!

[2021-03-17 18:32] c0sm0void opened #89 "git-python script for maintaining repo."
# Aim

create a simple script to maintain and update code of local repository from the remote origin

# Details

make git commands easy for newcomers so that they can maintain(push, pull, update, clone) code of local repository from the remote origin.

[2021-03-18 11:50] nagasrihith608 opened #90 "Update README"
**Describe the bug**
A clear and concise description of what the bug is.
The screenshots are not visible in discovering-subdomain's README.md.

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

Please assign this to me under GSSoC'21.

[2021-03-18 20:08] #65 closed, assigned to Bhavye-Malhotra

[2021-03-18 20:10] #28 closed, assigned to chinmoy12c

[2021-03-18 20:10] #90 closed, assigned to nagasrihith608

[2021-03-18 20:11] #78 closed, assigned to nidh-ish

[2021-03-18 20:12] #63 closed, assigned to nidh-ish

[2021-03-18 20:20] chinmoy12c opened #92 "Addition of multiple threads and proxy to directory buster"
# Aim

Following the discussion on https://github.com/dscciem/Pentesting-and-Hacking-Scripts/pull/77#issuecomment-800543786, the next steps are to add threads for parallelism and support for proxies.

# Details

- Parallelism
- Proxied request
- Support for more threads

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

Please assign me this issue :)

[2021-03-19 10:24] nagasrihith608 opened #93 "Corrections in Discovering Subdomains directory"
**Describe the bug**
A clear and concise description of what the bug is.
1) Not able to run the program.
2)README.md not clear on how to run it.
3)After correcting the bug running it, found that when the user interrupts it terminates and gives an error.

I will fix all these issues.
**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

I would like to correct all these issues as a participant in G

[2021-03-19 17:59] nidh-ish opened #97 "Brute force login forms"
# Aim

This python3 script will brute force a login form for a particular username using the password list provided.
# Details

- What the features will your script have

The user will provide the URL of the login page. Then, the user will choose a username, and a password list(file) to brute force the password for that particular username.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

Plea

[2021-03-19 18:43] nagasrihith608 opened #98 "Python3 compatability issue Domino-effect"
**Is your feature request related to a problem? Please describe.**
In dominoeffect, the program throws errors while run with python3. The program is coded for python2.

**Describe the solution you'd like**
As python2 is no longer supported, I would like to make the necessary changes in the code to make it compatible with python3.

**Describe alternatives you've considered**
To change the required

[2021-03-19 18:58] c0sm0void commented on #98
@nagasrihith608 Go for  it!

[2021-03-19 19:13] nidh-ish commented on #97
Yeah, I will do that too. Thanks for assigning the issue. 🙂

[2021-03-19 19:47] nidh-ish opened #100 "Python3 compatibility issues with Who-is/whois.py"
**Is your feature request related to a problem? Please describe.**

In the Who-is repo, the program whois.py throws errors while run with python3. The program is coded for python2.

**Describe the solution you'd like**

As python2 is no longer supported, I would like to make the necessary changes in the code to make it compatible with python3.

**Describe alternatives you've considered**

To chang

[2021-03-19 20:40] nagasrihith608 opened #101 "Converting SniffAir to python3 runable"
**Describe the bug**
My aim is to change all the syntax from python2 to python3

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

please assign this to me under GSSoC'21.

[2021-03-19 21:05] nagasrihith608 opened #102 "Adding requirments.txt in Geolocation tracker"
**Describe the bug**
No requirement.txt in Geolocation tracker

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

Please assign this issue to me under GSSoC'21.

[2021-03-19 21:11] nagasrihith608 opened #103 "Add requirments.txt file for phone number tracker"
**Describe the bug**
No requirments.txt file in phone number tracker

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

Please assign this issue to me under GSSoC'21

[2021-03-20 13:17] c0sm0void commented on #102
This time allowing as they are of level 0.

[2021-03-20 14:05] nidh-ish commented on #100
Sorry. I didn't know this. Will keep it in mind.

[2021-03-21 08:31] nagasrihith608 opened #110 "Tor proxy using python"
# Aim
To set up tor proxy.
- What is the objective of the Script

# Details
To set up tor proxy using python3 script which allows user to start, restart, stop and check the status.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

please assign this issue to me under GSSoC'21.

[2021-03-21 10:58] kuzuri-03 opened #111 "Updating Phone-Number-Tracker(Tracker.py)"
**Is your feature request related to a problem? Please describe.**
Tracker.py isn't working due to import  module error i.e.,

Traceback (most recent call last):
  File "Tracker.py", line 1, in <module>
    from phonenumbers import geocoder
ImportError: No module named phonenumbers

**Describe the solution you'd like**
I would like to suggest an update to this python program and want to replace it

[2021-03-21 22:22] #33 closed, assigned to L3thal14

[2021-03-21 22:28] #88 closed, assigned to Bhavye-Malhotra

[2021-03-21 22:30] #103 closed, assigned to nagasrihith608

[2021-03-21 22:30] #102 closed, assigned to nagasrihith608

[2021-03-21 22:32] #93 closed, assigned to nagasrihith608

[2021-03-21 22:33] #98 closed, assigned to nagasrihith608

[2021-03-21 22:36] #86 closed, assigned to nidh-ish

[2021-03-22 16:45] rajeshpanjiyar commented on #52
Hi, I want to make a logo for this project. I have some experience highlighting my logo. I request you to assign me and I am a participant in GSSoC'21

[2021-03-23 16:36] c0sm0void commented on #111
@kuzuri-03 for me there was no import error, but later it shown some code which maybe bcoz of wrong input format.
![image](https://user-images.githubusercontent.com/38182673/112183077-e9d92c00-8c23-11eb-880d-c8fe98b7d779.png)

Make it working with proper requirement.

[2021-03-25 08:11] #100 closed, assigned to nidh-ish

[2021-03-25 08:11] #101 closed, assigned to nagasrihith608

[2021-03-27 18:21] Abhishekkr93 commented on #71
@c0sm0void okay, no problem!

[2021-03-27 19:45] sayan9112 opened #113 "RANSOMWARE"
Hi admin, Sayan here. I'm GSSoC'21 participant. I want to contribute in your project as it is more insightful.

Ransomware is a form of malware that encrypts a victim's files. The attacker then demands a ransom from the victim to restore access to the data upon payment. I want to add the **RANSOMWARE** script.

Please assign me in this issue.

[2021-03-29 11:58] devRawnie commented on #67
Hi @c0sm0void. I just created a Python driven command line interface with argparse library, for some other project. I would like to work on this for the Python part. However I am not well versed with hacking, but I can code a menu driven solution as mentioned in the description in Python.

[2021-03-29 17:43] #80 closed, assigned to aaadddiii

[2021-03-30 20:00] KhushiChaudhary744 commented on #89
It's nearly complete, I will be uploading tomorrow afternoon.

[2021-04-01 13:57] avinashkranjan commented on #92
Reponed the Issue @chinmoy12c

[2021-04-02 22:15] 0xGhazy opened #118 "adding improvments to hashcracker.py script."
**Describe the bug**
[1] Improving script code readability.
[2] Reduce repetitive code lines.
[3] Modularize the code.

**Screenshots**
Repetitive code lines.
![repetitive 0](https://user-images.githubusercontent.com/60070427/113457963-87491280-9411-11eb-9406-6a687a38d31f.png)
<br>
![repetitive 1](https://user-images.githubusercontent.com/60070427/113457972-929c3e00-9411-11eb-96a5-5b1c7b0bb53c.png

[2021-04-03 20:07] habibaelsayed opened #119 "adding ZIP file cracker"
# Aim

- cracking ZIP protected files with password list

# Do I want to work on this:
 -

- [x] Yes

 - [ ] No

please assign it to me

[2021-04-04 00:24] akshay1027 opened #120 "Links in the readme to open in a new tab"
**Is your feature request related to a problem? Please describe.**
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

[2021-04-05 10:44] #92 closed, assigned to chinmoy12c

[2021-04-06 12:56] srisatya12 opened #121 "Add tech stack in the readme file"
I want to add tech stack in the readme file with logos. I'm a participant of GSSOC'21 please assign this to me

[2021-04-16 08:54] devRawnie commented on #67
Hi. I have created the script for the menu driven program. Kindly check the same

[2021-04-16 19:57] avinashkranjan commented on #118
Sure Go Ahead @0xGhazy

[2021-04-16 19:58] avinashkranjan commented on #119
Go Ahead @habibaelsayed

[2021-04-16 19:58] avinashkranjan commented on #120
Sure Go Ahead @akshay1027

[2021-04-16 19:58] avinashkranjan commented on #121
Sure Go Ahead @srisatya1197

[2021-04-16 20:05] #67 closed, assigned to devRawnie

[2021-04-17 03:17] srisatya12 commented on #121
Thank you Sir.

[2021-04-17 10:04] srisatya12 commented on #121
I thought techstack was not ready but it's already there in the readme file . I don't think this issue is required .

[2021-04-17 10:05] srisatya12 commented on #121
Should I close this issue Sir @avinashkranjan .

[2021-04-17 15:26] #121 closed, assigned to srisatya12

[2021-04-19 06:27] #119 closed, assigned to habibaelsayed

[2021-04-20 19:41] chinmoy12c opened #125 "Wordlist generator script"
# Aim
Adding a wordlist generator that generates words based on information specific to a person. For example Name, age, birthdate, nicknames, etc.

# What is the objective of the Script

There are many common wordlists out there on the net to bruteforce passwords, but there are scenarios when a hacker might want to target a specific person. If the hacker knows some personal details about the targ

[2021-04-21 17:37] avinashkranjan commented on #125
Sure GO ahead @chinmoy12c

[2021-04-22 11:43] VishvamPorwal opened #126 "Improvement in wifi-passwords.py"
**Is your feature request related to a problem? Please describe.**
currently the user has to enter his/her gmail password, which can sometime feel unsecured to several people.

**Describe the solution you'd like**
I would like to create another gmail account to send the message and now the user only has to put in email not password

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

[2021-04-23 06:58] avinashkranjan commented on #126
Sure Go Ahead @VishvamPorwal

[2021-04-23 09:59] ambivert-sam commented on #52
Can I work on this issue as a participant on gssoc @avinashkranjan will please assign it to me?

[2021-04-24 06:26] avinashkranjan commented on #52
Sure Go Ahead @ambivert-sam

[2021-04-26 15:39] ambivert-sam commented on #52
![20210426_210404_0000](https://user-images.githubusercontent.com/74984661/116110688-8aaf8100-a6d3-11eb-809e-400ce8d9d54c.png)
@avinashkranjan please review

[2021-04-28 02:26] habibaelsayed opened #130 "adding a html file map feature in Geolocation.py"
**Describe the solution you'd like**
as soon as the user enters the IP address an html file will be created with IP address information and its actual location in a virtual map

**Additional context**
it will look like this
![map](https://user-images.githubusercontent.com/76976297/116337018-caf92700-a7d9-11eb-96c9-e0ac7ed2bc35.PNG)

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

[2021-04-28 12:28] c0sm0void commented on #130
@habibaelsayed good luck!!

[2021-04-29 16:49] #126 closed, assigned to VishvamPorwal

[2021-04-29 16:50] #125 closed, assigned to chinmoy12c

[2021-05-01 13:09] ambivert-sam commented on #52
![Logo pentesting](https://user-images.githubusercontent.com/74984661/116787213-9bd80380-aac0-11eb-8ab9-0589ed05c65e.jpg)

Do any changes required? @avinashkranjan

[2021-05-04 11:11] Maskgirl opened #132 "Wordlist generator for password ccracking"
# Aim

- What is the objective of the Script
I want to create a script for Wordlist generator for password ccracking

# Details

- What the features will your script have
I will try to make the script in such a way that the wordlist that will be powerful enough to crack password , by adding different type of questions in it.
# Do I want to work on this:
 Yes, please assign me this for GSSoC'21 eve

[2021-05-04 12:18] Maskgirl opened #133 "Script to recover a deleted file in linux"
# Aim

- What is the objective of the Script

Recover deleted file in linux
# Details

- What the features will your script have
- Recover a deleted file

# Do I want to work on this:
 Yes please assign me this issue for GSSoC'21 event

[2021-05-04 14:24] anirudhsai20 opened #134 "Readme file enhancement"
Hi! I will add a list of all the Open Source programs in which this project was listed in.

[2021-05-04 14:24] anirudhsai20 commented on #134
Please assign this issue to me under GSSOC.

[2021-05-05 04:50] 0xGhazy commented on #118
@avinashkranjan why this issue is still open?

[2021-05-08 18:48] #118 closed, assigned to 0xGhazy

[2021-05-08 18:55] c0sm0void commented on #132
@Maskgirl already one script with same function is implemented ie. iGen

[2021-05-08 18:56] #132 closed, assigned to nobody

[2021-05-08 18:57] c0sm0void commented on #133
@Maskgirl go ahead!

[2021-05-08 18:59] c0sm0void commented on #134
@avinashkranjan is this needed?

[2021-05-09 12:19] chinmoy12c opened #135 "Script to spider a web page to generate a wordlist"
# Aim

- The aim of the script would be to generate a wordlist by spidering a URL.

# Details

- It would be able to filter out words of a given length range and add them to the wordlist.
- It would have the ability to follow external links in the webpage and spider those based on the depth of search specified.

# Do I want to work on this:
 - [x]  Yes
 - [ ] No

[2021-05-09 18:50] c0sm0void commented on #135
@chinmoy12c can you explain a bit more by taking a simple scenario??

[2021-05-09 19:16] chinmoy12c commented on #135
Hey @c0sm0void, a very simple yet effective use-case would be this -

Imagine a page where users may blog or share articles. Now a hacker might need to get access to one profile and this script would help in generating the list of usernames for the hacker. Also, maybe one of the users has some specific interest and writes an article about that thing, it's possible he may be using a rather weak pas

[2021-05-09 19:24] c0sm0void commented on #135
@chinmoy12c eager to try your script on this!! Good luck

[2021-05-09 21:28] chinmoy12c commented on #89
I think the work on this has been left unattended for a while. Also, @c0sm0void could you please elaborate on the feature set and aim of the required script, how would the commands be made easy?
- Would it consist of a smaller set of commands from git?
- Would it provide single simple commands for compound git commands?
- Would it be more of an interactive tool that asks the user what action is to

[2021-05-10 08:24] c0sm0void commented on #89
as many are not aware of git commands, so you need to make simple script which will execute those command of pull push update etc.
rather than typing whole "git pull upstream master" will type update or case no. in the menu. Creativity of script is your choice and try to implement almost all basic commands required.

[2021-05-10 15:38] chinmoy12c commented on #89
I've submitted a draft PR with a few functionalities. Have a look at it and see if it fits the use case. I'll add new commands once it's certain that we want to move forward with a script like this.

Just run it like: `python3 gitify.py`

[2021-05-10 15:54] #79 closed, assigned to 0xGhazy

[2021-05-10 17:30] #130 closed, assigned to habibaelsayed

[2021-05-10 17:31] avinashkranjan commented on #134
No, It's Not..

[2021-05-10 17:31] #134 closed, assigned to nobody

[2021-05-10 17:32] #135 closed, assigned to chinmoy12c

[2021-05-10 20:25] chinmoy12c commented on #110
Looks like this issue has been stale. @c0sm0void can you assign me this issue? Also wouldn't this kind of script be better written in bash?? Because the python version would essentially spawn shells to execute the commands either way so isn't it better(and easier) to write this in bash altogether?

[2021-05-11 14:38] chinmoy12c commented on #110
@c0sm0void I've submitted a PR ready for review. Oh, and I guess the issue title should be changed as well:).

[2021-05-14 07:54] noviicee commented on #120
Can I take this up if it's still open? @avinashkranjan

[2021-05-17 15:49] #120 closed, assigned to akshay1027

[2021-05-17 15:49] #110 closed, assigned to chinmoy12c

[2021-05-17 15:50] #89 closed, assigned to chinmoy12c

[2021-05-17 20:48] ambivert-sam commented on #52
@avinashkranjan can I make PR?

[2021-05-19 09:11] chinmoy12c opened #140 "Add thread support for WFarm"
WFarm needs to spider urls in order to generate the wordlist. This process is slow with a single thread, adding threading support to the script would speed up the process.

**Do I want to work on this:**
 - [x]  Yes
 - [ ] No

[2021-05-19 11:36] chinmoy12c commented on #62
@c0sm0void this issue has been left stale. Could you assign me to this issue?

[2021-05-19 17:00] c0sm0void commented on #62
@Ayush7614 any progress or I assign to others?

[2021-05-19 17:40] avinashkranjan commented on #52
Sure Go Ahead @ambivert-sam

[2021-05-21 16:30] subhangi2731 commented on #113
@avinashkranjan please assign me this issue

[2021-05-21 16:30] subhangi2731 commented on #113
i see the pr has not been made

[2021-05-24 11:44] subhangi2731 commented on #62
@avinashkranjan @c0sm0void please assign this issue to me

[2021-05-24 16:02] KajalSinghBAGHEL opened #144 "Update README.md"
remove grammatical mistakes

[2021-05-24 16:03] KajalSinghBAGHEL commented on #144
I am a GSSOC participant. Please check my pull request

[2021-05-24 17:18] avinashkranjan commented on #113
Sure Go Ahead @subhangi2731

[2021-05-24 17:19] #140 closed, assigned to chinmoy12c

[2021-05-24 17:19] avinashkranjan commented on #62
@chinmoy12c Go Ahead

[2021-05-24 17:20] #144 closed, assigned to nobody

[2021-05-24 17:21] #52 closed, assigned to ambivert-sam

[2021-12-16 19:29] #133 closed, assigned to Maskgirl